body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 40px;
}
img {
  display: block;
}
p,
ul,
h2 {
  margin: 0;
}
.input {
  display: block;
  width: 40vw;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 4px;

  font-size: 30px;
}
.container {
  width: 40vw;
  display: flex;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}
.countries {
  font-size: 30px;
}
.card {
  width: 100%;
  font-size: 30px;
}
.card__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}
.card__content {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.card__left {
  width: 50%;
}
.card__right {
  width: 50%;
}

.card__flag {
  width: 100%;
}

.card__caption {
  font-weight: bold;
}
.card__data {
  font-weight: normal;
}
